{{define "block"}}
<div>
        <ul>
            <li>{{.Data}}</li>
            <li>{{.Hash}}</li>
            {{if .PrevHash}}
                <li>{{.PrevHash}}
            {{end}}    
        </ul>
    </div>
    <hr />
{{end}}