{{define "header"}}
<header>
    <nav>
        <a href="/"><h1>MSSP Coin</h1></a>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/add">ADD</a>
            </li>
        </ul>
    </nav>

    <h1>{{.}}</h1>
</header>
{{end}}